@font-face {
    font-family: 'hall_feticaregular';
    src: url('hall_fetica-webfont.woff2') format('woff2'),
         url('hall_fetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#test {
    width: 11px;
    height: 14px;
    background: url('Images/bub.jpg');
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}


html, body, .section-button {
    width:100%;
    height:100%;
    margin:0;
}
main{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

.bsky {
  overflow: hidden;
  display:inline;
  text-align:center;
}
img {
  transition: transform 0.25s;
}
.bsky:hover img {
  transform: scale(1.1);
}

.twitter {
  overflow: hidden;
  display:inline;
  text-align:center;
}
img {
  transition: transform 0.25s;
}
.twitter:hover img {
  transform: scale(1.1);
}

.shirt {
  overflow: hidden;
  display:inline;
  text-align:center;
}
img {
  transition: transform 0.25s;
}
.shirt:hover img {
  transform: scale(1.1);
}

.kofi {
  overflow: hidden;
  display:inline;
  text-align:center;
}
img {
  transition: transform 0.25s;
}
.kofi:hover img {
  transform: scale(1.1);
}

.refs {
  overflow: hidden;
  display:inline;
  text-align:center;
}
img {
  transition: transform 0.25s;
}
.refs:hover img {
  transform: scale(1.1);
}